
.Log {
    text-align: center;
  }
  
/* .mb-4{
    border-radius: 50px;
   /* border-top-left-radius:50px ; */

   
  .Log-top {
    background-color: #282c34;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  