.imgProfile{
    width: 200px;
    height: 200px;
    border-radius: 120px;
}

.perfil {
    width: 1645px;
    height: 895px;
    background-color: #a4b7d4;
  }


.tab-content{
    background-color: white;
}